<template id="TheCard">
  <div class="card-placeholder">
    <div :id="'card_'+cardNum+'_'+cardSym" :class="'card card-' + cardColor + ' '" @click="cardClick">
      <div :class="{'flipUp' :flipAction}">
        <div :id="'front_'+cardNum+'_'+cardSym" :class="'front'">
          <div class="num">{{cardNum}}</div>
          <div class="suit">{{cardSuit}}</div>
          <div class="sym">{{cardSym}}</div>
        </div>
        <div :class="'back'" :id="'back_'+cardNum+'_'+cardSym"></div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Card',
  props: ['cardColor', 'cardSuit', 'cardNum', 'cardSym', 'cardKey'],
  data () {
    return {
      msg: 'This is a card',
      counter: 0,
      flipAction: false
    }
  },
  mounted () {
    console.log('card mounted')
    var self = this
    this.$root.$on('card-flip-back-over', function () {
      console.log('flipping cards back over')
      self.counter = 0
      self.flipAction = false
    })
    this.$root.$on('card-flip-counter', function (count) {
      console.log('---------CARDS FLIPPED COUNT--------')
      self.counter += 1
      console.log(self.counter)
    })
  },
  components: {
  },
  computed: {
    classFlipUp: function () {
      return 'flipUp'
    }
  },
  methods: {
    cardClick: function (e) {
      e.preventDefault()
      if (this.counter >= 2) {
        return null
      } else {
        this.flipAction = true
        // this.counter += 1
        console.log(this.counter)
        console.log(e.target.id)
        this.$root.$emit('card-clicked', {count: 1, card: e.target.id})
      }
    }
  }
}
</script>
<style>
.card-placeholder {
    border: 1px solid #777;
  background-color: transparent;
  width: 70px;
  height: 100px;
  border-radius: 5px;
  margin: 5px 5px 10px 5px;
  float: left;
}
.card {
  border: 5px solid #fff;
  background-color: #fff;
  width: 60px;
  height: 90px;
  border-radius: 5px;
  margin: 0px;
  float: left;
  position: relative;
  cursor: pointer;
  font: 18px arial;
  font-weight: bold;
  line-height: 172%;
  text-indent: 4px;
  overflow: hidden;
  color: #999;
  padding: 0px;
  /*transform: rotateY(180deg);
  transform-style: preserve-3d;*/
  transition: all .5s ease-in-out;
  text-decoration: none;
}
.card-black {
  color: #000;
}
.card-red {
  color: #f00;
}
.card .num {
  font-size: 16px;
  text-align: left;
  padding: 5px 0px 0px 5px;
  pointer-events: none;
}
.card .suit {
  font-size: 44px;
  pointer-events: none;
}
.card .sym {
  display: none;
}
.card .front {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0px;
  pointer-events: none;
}
.card .back {
  pointer-events: none;
  backface-visibility: hidden;
  color: #888;
  background: #999;
  background: #999 url('../../static/img/dark_fish_skin.png');
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  font-size: 90px;
  text-align: center;
}
.cardFlipUp {
  background: #fff;
  transform:rotateY(-180deg);
}
.cardFlipBack {
  background: #0f0;
  transform: rotateY(180deg);
}
.card .front {
  transform:rotateY(-180deg);
}
.card .back {
  transform:rotateY(0deg);
}
.card .flipUp .front {
  transform:rotateY(0deg);
}
.card .flipUp .back {
  transform:rotateY(-180deg);
}
</style>
