<template id="TheDeck" >
  <div>
  <Game :numberOfCards="deck.length"/>
  <Card v-for="(card, idx) in deck"
    :key="card + '_' + idx"
    :cardKey="card.cardKey"
    :cardColor="card.cardColor"
    :cardSuit="card.cardSuit"
    :cardNum="card.cardNum"
    :cardSym="card.cardSym" />
  <div class="clear" />
  </div>
</template>
<script>
export default {
  name: 'Deck',
  data () {
    return {
      msg: 'A new deck shuffled',
      deck: []
    }
  },
  mounted () {
    console.log('deck of cards mounted')
    this.startNewGame()
    // this.deck = createDeck()
    // this.deck = shuffleDeck(this.deck)

    var self = this
    this.$root.$on('start-new-game', function () {
      console.log('--------STARTING NEW GAME-----------')
      // self.startNewGame()
      revealDeck(self.deck)
      // self.deck = createDeck()
      // self.deck = shuffleDeck(self.deck)
      // self.deck = createAndShuffleDeck()
      // self.deck = revealDeck(self.deck)
      // self.startNewGame()
      // self.deck = shuffleDeck(revealDeck(createDeck()))
      self.msg = 'a new game just shuffled a deck...'
    })
    // var self = this
    // this.$root.$on('point-cards-matched', function (scored) {
    //   console.log('players cards matched, ...updating Deck')
    //   console.log(scored)
    //   scored.cards.map((val, idx) => {
    //     self.deck.map((deckCard, deckIdx) => {
    //       if (val.cardKey === self.deck[deckIdx].cardKey) {
    //         self.deck = self.deck.splice(deckIdx, 1)
    //       }
    //     })
    //   })
    // })
  },
  components: {
    Card: () => import('./Card.vue'),
    Game: () => import('./Game.vue')
  },
  methods: {
    startNewGame: function () {
      this.deck = []
      this.deck = createDeck()
      this.deck = shuffleDeck(this.deck)
      // this.deck = revealDeck(this.deck)
      this.msg = 'a new game just shuffled a deck...'
    }
  },
  computed: {
    // startNewGame: function () {
    //   let _deck = []
    //   _deck = createDeck()
    //   _deck = shuffleDeck(_deck.deck)
    //   return _deck
    // }
  }
}
// function startNewGame (selfObj) {
//   selfObj.deck = []
//   selfObj.deck = createDeck()
//   selfObj.deck = shuffleDeck(selfObj.deck)
//   selfObj.msg = 'a new game just shuffled a deck...'
// }
function revealDeck (_deck) {
  _deck.map((card, idx) => {
    document.getElementById(card.cardKey).style.display = 'inline'
  })
}
function createDeck () {
  let _deck = []
  var _suits = ['♣', '♠', '♥', '♦']
  var _cards = ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']
  // var _cards = ['2', '7', 'J']
  _suits.map(suit => {
    _cards.map(card => {
      let _color = suit === '♥' || suit === '♦' ? 'red' : 'black'
      let _sym = convertCardSymbolToString(suit)
      let _key = 'card_' + card + '_' + _sym
      _deck.push({ cardKey: _key, cardNum: card, cardSuit: suit, cardColor: _color, cardSym: _sym })
      // document.getElementById(_key).style.display = 'inline'
      console.log(_deck)
    })
  })
  return _deck
}
function shuffleDeck (_deck) {
  if (_deck.length === undefined) {
    return _deck
  } else {
    // FISHER-YATES SHUFFLE
    let ctr = _deck.length
    // WHILE
    while (ctr > 0) {
      // RANDOM
      let idx = Math.floor(Math.random() * ctr)
      // DECREMENT
      ctr--
      // SWAP
      let tmp = _deck[ctr]
      _deck[ctr] = _deck[idx]
      _deck[idx] = tmp
      // END WHILE
    }

    return _deck// _deck
  }
}
function convertCardSymbolToString (sym) {
  let convertedSymbol
  switch (sym) {
    case '♣':
      convertedSymbol = 'C'
      break
    case '♠':
      convertedSymbol = 'S'
      break
    case '♥':
      convertedSymbol = 'H'
      break
    case '♦':
      convertedSymbol = 'D'
      break
    default:
      break
  }
  return convertedSymbol
}
</script>
<style scoped>
</style>
