<template>
  <div id="TheGame">
  </div>
</template>

<script>
export default {
  name: 'Game',
  props: ['numberOfCards'],
  data () {
    return {
      msg: 'Card Match Game',
      playersTurn: 1,
      player1Points: 0,
      player2Points: 0,
      cardList: [],
      counter: 0,
      status: null
    }
  },
  mounted () {
    var self = this
    this.$root.$on('card-clicked', function (clicked) {
      console.log('it is player... ' + self.playersTurn)
      self.$root.$emit('card-flip-counter', 1)
      console.log(clicked.card + ' was clicked for the game...')
      self.checkCardsMatch(clicked.card, self.cardList, self.playersTurn, self)
      if (self.status === 'SAME') {
        return null
      } else if (self.status === 'POINT') {
        console.log('POINT WAS AWARDED')
        setTimeout(function () {
          document.getElementById(self.cardList[0]).style.display = 'none' // .remove()
          document.getElementById(clicked.card).style.display = 'none' // .remove()
          self.$root.$emit('card-flip-back-over', true)
          self.counter = 0
          self.cardList = []
          self.status = 'CARRYON'
          if ((self.player1Points + self.player2Points) * 2 === self.numberOfCards) {
            console.log('---------GAME IS OVER-------------')
            if (self.player1Points > self.player2Points) {
              alert('PLAYER 1 WINS!')
            } else if (self.player1Points < self.player2Points) {
              alert('PLAYER 2 WINS!')
            } else {
              alert('BOTH PLAYERS TIE!')
            }
            self.$root.$emit('start-new-game', true)
            self.$root.$emit('cards-reset', true)
            self.player1Points = 0
            self.player2Points = 0
          }
        }, 2000)
      } else {
        // INCREASE CARD CLICK AMOUNT
        self.counter += clicked.count
        self.cardList.push(clicked.card)
        console.log(self.counter)
        // 2 GUESSES
        if (self.counter === 2) {
          console.log('at the guessing limit...')

          if (self.playersTurn === 1) {
            self.playersTurn = 2
          } else if (self.playersTurn === 2) {
            self.playersTurn = 1
          }
          self.$root.$emit('mark-players-turn', self.playersTurn)
          setTimeout(function () {
            self.$root.$emit('card-flip-back-over', true)
            self.counter = 0
            self.cardList = []
          }, 2000)
        } else {
          console.log('one more guess...')
        }

        // 3 OR MORE GUESSES
        if (self.counter > 2) {
          console.log('over the guessing limit...')
          self.$root.$emit('card-flip-back-over', true)
          self.counter = 0
          self.cardList = []
        }
      }
    })
  },
  methods: {
    checkCardsMatch (card, cardList, playerNum, selfObj) {
      if (cardList.indexOf(card) >= 0) {
        console.log('SAME GUESS!?')
        selfObj.status = 'SAME'
        return selfObj.status
      }
      if (cardList.length > 0) {
        cardList.map((val, idx) => {
          let fromList = val.split('_')
          let justClick = card.split('_')
          if (fromList[1] === justClick[1]) {
            console.log('MATCH')
            console.log('the cards matched...tallying point for player ' + playerNum)
            let sendTotalPlayerPoints
            if (playerNum === 1) {
              selfObj.player1Points += 1
              sendTotalPlayerPoints = selfObj.player1Points
            }
            if (playerNum === 2) {
              selfObj.player2Points += 1
              sendTotalPlayerPoints = selfObj.player2Points
            }
            this.$root.$emit('point-cards-matched', {player: playerNum, cards: cardList, points: sendTotalPlayerPoints})
            selfObj.status = 'POINT'
            return selfObj.status
          } else {
            selfObj.status = 'CARRYON'
            return selfObj.status
          }
        })
      }
    }
  }
}
</script>
<style>
</style>
