<template>
  <div id="Players">
    <div id="Player1" class="player_box">
      <div class="playerScore">{{ player1_score }}</div>
      <div class="playerName" contenteditable="true">{{ player1_name }}</div>
    </div>
    <div id="Scoreboard">
      <div  :class="{'activeTurn': players1Turn}">
        <div id="P1_TURN" class="playerTurnSign">&lt;</div>
      </div>
      <div  :class="{'activeTurn': players2Turn}">
        <div id="P2_TURN" class="playerTurnSign">&gt;</div>
      </div>
      <h1>{{ game_status }}</h1>
    </div>
    <div id="Player2" class="player_box">
      <div class="playerScore">
        {{ player2_score }}
      </div>
      <div class="playerName">
        {{ player2_name }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Players',
  data () {
    return {
      game_status: 'TURN',
      player1_name: 'Jack',
      player2_name: 'Jill',
      player1_score: 0,
      player2_score: 0,
      players1Turn: true,
      players2Turn: false
    }
  },
  components: {
    // Scoreboard: () => import('./Scoreboard.vue')
  },
  mounted () {
    var self = this
    this.$root.$on('point-cards-matched', function (scored) {
      console.log('players cards matched, ...updating players points')
      console.log(scored)
      if (scored.player === 1) {
        self.player1_score = scored.points
      }
      if (scored.player === 2) {
        self.player2_score = scored.points
      }
    })
    this.$root.$on('mark-players-turn', function (playerNum) {
      console.log('---------PLAYERS TURN--------')
      if (playerNum === 1) {
        self.players1Turn = true
      } else {
        self.players1Turn = false
      }
      if (playerNum === 2) {
        self.players2Turn = true
      } else {
        self.players2Turn = false
      }
      console.log(self.players1Turn)
      console.log(self.players2Turn)
    })
    this.$root.$on('cards-reset', function () {
      console.log('players cards reshuffling, ...resetting players points')
      self.player1_score = 0
      self.player2_score = 0
    })
  }
}
</script>
<style>
#Players {
  width: 100%;
  height: 50px;
  background: #dcdcdc;
}
#Player1 {
  float: left;
  background: #00f;
}

#Player2 {
  float: right;
  background: #f00;
}
#Player1 .playerName {
  float: right;
  line-height: 90% !important;
  text-transform: uppercase;
  font: 44px arial;
}
#Player1 .playerScore {
  float: right;
  margin: 0px 20px 0px 100px;
  font: 700 36px arial;
}
#Player2 .playerName {
  float: left;
  line-height: 90% !important;
  text-transform: uppercase;
  font: 44px arial;
}
#Player2 .playerScore {
  float: left;
  margin: 0px 100px 0px 20px;
  font: 700 36px arial;
}
#Scoreboard {
    width: 20%;
    padding: 10px 0px 20px 0px;
    height: 30px;
    margin: 0px auto;
    background: #555;
    z-index:9;
    position:absolute;
    left: 50%;
    margin-left: -10%;
}
.player_box {
  width: 38%;
  height: 100%;
  color: #fff;
  font: 24px arial;
  padding: 10px 0px 0px 0px;
}
#Scoreboard h1 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding-top: 12px;
  color: #222;
}
#P1_TURN {
  float: left;
  margin-left: 20px;
}
#P2_TURN {
  float: right;
  margin-right: 20px;
}
.playerTurnSign {
  font-size: 34px;
  color: #444;
}
.activeTurn .playerTurnSign {
  color: #dcdcdc;
  font-weight: 700;
}
</style>
