<template id="TheRoom" >
  <div>
  <!--HEADER-->
  <div id="header">
    <div id="logo">
      <div id="card_icons">
        <div class="cardIcon blackIcon">♣</div>
      </div>
      <h1>Card Match</h1>
    </div>
  </div>
  <!--ROOM-->
  <div id="Room">
   <Table />
   <Players />
  </div>
  </div>
</template>
<script>
export default {
  name: 'Room',
  data () {
    return {
      slogan: 'Welcome to the card room'
    }
  },
  mounted () {
    console.log('room mounted')
  },
  components: {
    Table: () => import('./Table.vue'),
    Players: () => import('./Players.vue')
  }
}
</script>
<style scoped>
#header {
  width: 100%;
  height: 44px;
  padding: 5px;
  background: #000;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: left;
}
#header img {
  width: 50px;
  float: left;
}
#header h1 {
  float: left;
  color: #fff;
}
#header h5 {
  float: left;
  color: #777;
}
.cardIcon {
  font-size: 48px;
  float: left;
  line-height: 80%;
  padding: 0px 5px;
}
.redIcon {
  color: #f00;
}
.blackIcon {
  color: #888;
}
</style>
