<template>
  <div id="Scoreboard">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'Scoreboard',
  data () {
    return {
      msg: 'SCORE'
    }
  }
}
</script>
<style>
#Scoreboard {
    width: 30%;
    height: 100px;
    margin: 0px auto;
    background: #333;
    z-index:9;
    position:absolute;
    left: 50%;
    margin-left: -125px;
}
</style>
