<template id="TheTable" >
  <div id="Table">
  <Deck />
  </div>
</template>
<script>
export default {
  name: 'Table',
  data () {
    return {
      msg: 'Table #1'
    }
  },
  mounted () {
    console.log('table mounted')
  },
  components: {
    Deck: () => import('./Deck.vue')
  }
}
</script>
<style scoped>
#Table {
  background:transparent;
  width: 76%;
  margin: 0px auto;
  position: relative;
  padding: 30px 0px;
}
</style>
